.button {
  color: $text-sec-color;
  background-color: $bg-color;
  padding: 12px 12px 12px 26px;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s;
  text-transform: uppercase;
  width: fit-content;
  &:hover {
    background-color: #fda83a;
  }
  &--catalog {
    border: 2px solid $text-sec-color;
    padding: 12px 50px;
    width: fit-content;

  }
}