.page-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: $bg-color;
  text-decoration: underline;
  white-space: nowrap;
  &:hover {
    color: #fda83a;
  }
  @include tablets {
    text-align: center;
  }
}